/* 모든 요소의 기본 여백 제거 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML과 Body의 기본 설정 */
html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator-container {
  width: 100%;
  padding: 4rem;
  margin: 4rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  border: 0.1rem solid green;
}

.display {
  min-width: 24rem;
  min-height: 12rem;

  padding: 1rem;
  border: 1px solid red;
  color: red;
}
.buttons {
  min-width: 24rem;
  min-height: 36rem;

  padding: 1rem;
  border: 1px solid blue;
  color: blue;
}
